[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "vendor/gsl-lite"]
	path = vendor/gsl-lite
	url = git@github.com:martinmoene/gsl-lite.git
[submodule "vendor/xtensor"]
	path = vendor/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "vendor/xtl"]
	path = vendor/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = git@github.com:fmtlib/fmt.git
